<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .tou{
                width: 100px;
                height: 100px;
                background: #9CF;
                border: 1px solid #ccc;
                position: relative;
                left: 0;
                top: 0;
            }
         </style>
    </head>
    <body>
        <div class="tou">
            <h5>{$Think.session.username}</h5>            
            <a href="#">退出登录</a>
        </div>
    </body>
</html>
