<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.投资
-->
<html>
    <head>
        <title>投资操作页面</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>投资页面</h1>
        <div>
            <form action="" method="post">
                <table boder="0" cellpadding="0" cellspacing="0" width="80%" gbcolor="#ABCDEF">
                    
                </table>
            </form>
        </div>
    </body>
</html>
