<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>首页</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <table>
                <tr>
                    <td>
                         {$Think.session.real_name}
                    </td>
                    <td><a href="../Login/loginOut">退出登陆</a></td>
                </tr>
                 <tr>
                    <td>
                        <a href="../regist/index.html">注册</a>
                    </td>
                </tr>
                 <tr>
                    <td>
                        <a href="../Myredpacket/index">我的红包</a>
                    </td>
                </tr>
                 <tr>
                    <td>
                        <a href="../Redpacket/index">红包信息</a>
                    </td>
                </tr>
                 <tr>
                    <td>
                        <a href="../instructions/index.html">使用说明</a>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <p>新闻，更新，说明，一段文字</p>
        </div>
    </body>
</html>
