<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.使用说明
-->
<html>
    <head>
        <title>红包使用说明</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div><header>{$Think.session.real_name}</header>
            <h1>使用说明</h1>
            <p>STATIC</p>
        </div>
        <div><a href="../Home/index">返回主页</a></div>
    </body>
</html>
