<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.用户填写信息用js在页面验证
-->
<html>
    <head>
        <title>注册</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style>
        dl{
            text-align:center;
            border:2px solid #00CC99;
            margin-top:100px;
            margin-bottom:100px;
            margin-right:400px;
            margin-left:400px;
        }
    </style>
    <body>
        <h1>文件目录app\index\view\regist\index.html</h1>
        <div id="regist_form">
            <dl>
                <form action="regist" method="post">
                    <dt>
                    <p>姓名:<input type="text" name="real_name"></p>
                    </dt>
                    
                    <dt>
                    <p>密码:<input type="password" name="password"></p>
                    </dt>
                    
                  
                    <dt>
                    <p>手机:<input type="text" name="mobile"></p>
                    </dt>                                      

                    <dt>
                    <p><input type="submit" value="注册"></p>
                    </dt>
                </form>

            </dl>
        </div>
    </body>
</html>
