<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>已经发放的红包列表</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>            
        <table> <h5>已经发放的红包</h5>
            <tr>
                <td>id</td>
                <td>红包名</td>
                <td>红包类型</td>
                <td>红包个数</td>
            </tr>
            <!--  {//volist name="res" id="data"}
              <tr>
                  <td>{//$data.redpacket_model_id}</td>
                  <td>{//$data.rd_name}</td>
                  <td>{//$data.rd_type}</td>
                   <td>num</td>
              </tr>
  
              {/volist}-->
        </table>
    </body>
</html>
